###### IMPORT LIBRARY

In [1]:
import numpy as np

###### One Dimensional Array

In [7]:
array = np.arange(10)
print(array**2)
print(array[3])
print(array[3:6])
array[4] = 1000
for i in array:
    print(i)

[ 0  1  4  9 16 25 36 49 64 81]
3
[3 4 5]
0
1
2
3
1000
5
6
7
8
9

###### Two Dimensional Array

In [14]:
y = np.random.random(16).reshape(8,2)
y.ravel() # one dimensional array form of y

array([0.25465658, 0.32419694, 0.87145992, 0.59002596, 0.84492987,
       0.97335408, 0.68328924, 0.3638978 , 0.94912918, 0.4233808 ,
       0.41071308, 0.7208176 , 0.17544013, 0.90805344, 0.8042097 ,
       0.8972088 ])

In [17]:
y[:,:] # selecting all rows and columns

array([[0.25465658, 0.32419694],
       [0.87145992, 0.59002596],
       [0.84492987, 0.97335408],
       [0.68328924, 0.3638978 ],
       [0.94912918, 0.4233808 ],
       [0.41071308, 0.7208176 ],
       [0.17544013, 0.90805344],
       [0.8042097 , 0.8972088 ]])

In [18]:
y[0:2,1] # selecting first column of first two rows

array([0.32419694, 0.59002596])

In [19]:
for row in y:
    print(row)

[0.25465658 0.32419694]
[0.87145992 0.59002596]
[0.84492987 0.97335408]
[0.68328924 0.3638978 ]
[0.94912918 0.4233808 ]
[0.41071308 0.7208176 ]
[0.17544013 0.90805344]
[0.8042097 0.8972088]

In [20]:
for row in y.flat:
    print(row)

0.2546565766625689
0.32419693961897733
0.8714599195746681
0.5900259602001756
0.8449298726182207
0.9733540760655862
0.6832892390605835
0.36389779951299717
0.9491291806986002
0.42338080115848153
0.4107130802250577
0.7208175969917012
0.17544012811927945
0.9080534370347604
0.8042097010932536
0.8972087958061572

In [25]:
for row in np.ndenumerate(y):
    print(row) # row[0],row[1] is accesible

((0, 0), 0.2546565766625689)
((0, 1), 0.32419693961897733)
((1, 0), 0.8714599195746681)
((1, 1), 0.5900259602001756)
((2, 0), 0.8449298726182207)
((2, 1), 0.9733540760655862)
((3, 0), 0.6832892390605835)
((3, 1), 0.36389779951299717)
((4, 0), 0.9491291806986002)
((4, 1), 0.42338080115848153)
((5, 0), 0.4107130802250577)
((5, 1), 0.7208175969917012)
((6, 0), 0.17544012811927945)
((6, 1), 0.9080534370347604)
((7, 0), 0.8042097010932536)
((7, 1), 0.8972087958061572)

### Concatenate two same dimensional array vertically

In [51]:
a = np.array([[1,2],[3,4]]) # 2 ye 2 array
b = np.array([[5,6]]) # 1 e 2 array
c = np.array([[5],[6]]) # 2 e 2 array

###### First Method

In [52]:
print(np.concatenate((a,b),axis=0))
print(np.concatenate((a,c.T),axis=0))

[[1 2]
 [3 4]
 [5 6]]
[[1 2]
 [3 4]
 [5 6]]

### Second Method

In [47]:
np.vstack((a,np.eye(2)))

array([[1., 2.],
       [3., 4.],
       [1., 0.],
       [0., 1.]])

### Concatenate two same dimensional array horizontally

In [ ]:
a = np.array([[1,2],[3,4]]) # 2 ye 2 array
b = np.array([[5,6]]) # 1 e 2 array
c = np.array([[5],[6]]) # 2 e 2 array

###### First Method

In [49]:
print(np.concatenate((a,b.T),axis=1))
print(np.concatenate((a,c),axis=1))

[[1 2 5]
 [3 4 6]]
[[1 2 5]
 [3 4 6]]

###### Second Method

In [50]:
np.hstack((a,np.eye(2)))

array([[1., 2., 1., 0.],
       [3., 4., 0., 1.]])